.pending {
    background-color: #40C057;
    margin: 0 20px 0 0;
    padding: 8px;
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
}

.list-item {
    margin: 0 10px 15px 0;
}

.mantine-mtnpu1 {
    height: auto;
    min-height: 3.5vh;
    padding: 0 10px;
    color: black;
}

.mantine-1ycwwjd {
    padding: 0 10px;
}

.mantine-18oa4ps {
    height: auto;
    min-height: 22vh;
    overflow: hidden;


}

.mantine-1tv7i2y {
    margin-bottom: 2rem;
}

.task-card {
    margin: 10px;
    padding: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid #e1e1e1;
  }
  
  .task-card-section {
    display: flex;
    justify-content: space-between;
  }
  
  .btn-done {
    cursor: pointer;
  }
  
  .delete-button {
    color: red;
  }