header{
    background: #1C7ED7;
    padding: 10px;
    margin-bottom: 10px;
    color: #fff;
    height: 5vh;
    padding-left: 20px;
    
    a{
        color: #fff;
        text-decoration: none;
        padding: 20px;
    }
}