

// SettingsPage.scss

.settings-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-color: #f0f0f0; 
  
    .grid-container {
      display: flex;
      justify-content: space-between;
      width: 800px; // Adjust the width as needed
    }
  
    .settings-card {
      width: 100%;
      padding: 20px;
      margin-right: 20px; // Spacing between cards
      background-color: #fff; // Background color for the settings card
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); // Shadow for the card
    }
  
    .saved-data-card {
      width: 100%;
      padding: 20px;
      background-color: #fff; // Background color for the saved data card
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); // Shadow for the card
    }
  
    .settings-heading {
      font-size: 24px;
      margin-bottom: 10px;
    }
  
    .settings-item {
      margin-bottom: 15px;
    }
  
    .settings-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .saved-data-heading {
      font-size: 24px;
      margin-bottom: 10px;
    }
  
    .saved-data-item {
      margin-bottom: 10px;
    }
  }
  